.Census-100 {
    position: relative;
    z-index: 1;
    background-color: #3C6998; // Fallback if no js
    transition: background 0.2s;


    svg {
        background: none;
        width: 100vw;
        height: 100vh;
    }

    circle.population {
        fill: rgba(255,255,255,0.8);
        stroke-width: 0;
        stroke: #000;
    }

    .group-label text {
        font-size: 15px;
        fill: #fff;
        text-anchor: middle;
    }

    .group-label path {
        fill: none;
        stroke: rgba(255,255,255, 0.6);
        stroke-width: 1;
    }
}
